<h2>Things</h2>

<ul>
  <% @things.each do |thing| %>
    <li>
      <p>
        <a href="/things/<%= "#{thing.id}" %>" ><%= thing.name %></a>
      </p>
      <p class="attribution">
        Used by <a href="/users/<%= "#{thing.user.id}" %>"><%= thing.user.username %></a> on <%= long_form_date(thing.created_at) %>
      </p>
    </li>
  <% end %>
</ul>

<% if logged_in? %>
  <a href="/things/new">Create a new thing</a>
<% end %>
