<h2><%= @thing.name %></h2>

<p>This is a <%= @thing.description %>. It was used by <%= @user.username %>.</p>

<% if @thing.user == current_user %>
  <p>
    <a href="/things/<%= "#{@thing.id}" %>/edit">Edit this thing</a>
  </p>

  <form method="POST" action="/things/<%= @thing.id %>">
    <input type=hidden name="_method" value="DELETE">
    <input type="submit" value="Delete Thing">
  </form>
<% end %>
